:root{
  --botones:'Oswald', sans-serif;
  --texto__inputs:'Open Sans', sans-serif;
  --otros__textos:'Montserrat', sans-serif;
  --blanco:white;
  --amarillo:rgb(255, 203, 5);
  --head__bg:rgba(20, 73, 218, 0.678);
};

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300&family=Oswald:wght@200;300;400;600&display=swap');

html{
  box-sizing: border-box;
  font-size: 62.5%;
}

*, 
*:after,
*:before{
  box-sizing: inherit
  ;
}

body{
  margin: 0;
  font-size: 1.2rem;
}

h2{
  margin: 0;
  font-family: var(--botones);
  font-weight: 400;
  text-align: center;
}

img{
  max-width: 100%;
  display: block;
}

p{
  font-family: var(--otros__textos);
}

span{
  font-weight: bold;
}
.contenedor{
  width: 1000px;
  margin: 0 auto;
  max-width: 95%;
}

a{
  display: inline-block;
  text-decoration: none;
  font-family: var(--botones);
  transition: all .4s ease-in;
}

a .btn__landing:hover{
  background-color: var(--amarillo);

}


/********************************************************** landing*/
.landing{
  background-image: url('../src//img/45651.jpg') ;
  height: 100vh;
  overflow-x: scroll;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.landing__center{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}



.btn__landing{
  padding:.5rem 1.5rem;
  font-size: 2.rem;
  background-color: rgb(219, 40, 40);
  border-radius: 30px;
  color: var(--blanco);
};

