
.contenido__cards{
  background-color: rgba(246, 247, 248, 0.266);
  border-radius: 20px;
  margin-top: 2rem;
  padding: 1rem 0;
  text-align: center;
  overflow-x: hidden;
}

.link-card  .card:hover{
  background-color: blueviolet;
  transform: scale(1.1);
}

@media only screen and (min-width:768px){
  
  .contenido__cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .link-card{
    flex-basis: calc(33.3% - 1rem);
  }

 


}