.Error{
  height: 100vh;
}


.backgroundError{
  height:84vh;
  text-align: center;
  background-image: url('../img/snorlax404.jpg');
  background-position: center center; 
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  font-family: var(--otros__textos);
  justify-content: space-between;
}

@media only screen and (min-width:768px){
  
  .backgroundError{
    background-size: 55%;
  }

}

.backgroundError h1{
  background-color: var(--amarillo);
  margin: 0;
  padding:.7rem;
}
