
.paginate ul{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  max-width: 800px;
}


.paginateBtn{
  background-color: none;
  border: none;
  width: 2rem;
  background: rgba(246, 247, 248, 0.266);
}

.paginateBtn:hover{
  background-color: var(--rojo);
}

.paginateModule{
  display: flex;
  align-items: center;
  justify-content: center;
}
