
.createPokemon{
  background-color: rgba(246, 247, 248, 0.266);
  border-radius: 20px;
  margin-top: 2rem;
  padding: 1rem 0;
  text-align: center;
  overflow-x: hidden;
}

.formulario h1{
  font-family: var(--otros__textos);
}

.formulario{
  background-color:  rgba(246, 247, 248, 0.266);
  margin:2rem ;
  padding: 1rem;
  border-radius: 15px ;
}

@media only screen and (min-width:820px){
  
  .formulario{
    max-width: 30%;
  }

}

label{
  font-family: var(--botones);
  font-weight: 200;
}

input{
width: 150px;
align-self: center;
}

.camp{
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  width: 200px;
}

.types div{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.types div input{
  margin: 0;
  width: 30px;
}